.container {
  position: absolute;
  background-color: rgba(255, 228, 196, 0.521);
  text-align: center;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -400px;
  height: 250px;
  width: 800px;
}
.image {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}
.left {
  margin-top: 1em;
  margin-left: 1em;
  display: inline-block;
  width: 40%;
}
.right {
  display: inline-block;
  margin-top: 3em;
  width: 50%;
}
.table {
  padding: 10px;
  text-align: left;
}
tr {
  padding: 10px;
}
