.Basket {
  width: 70%;
  height: 70%;
  background-color: rgba(255, 228, 196, 0.521);
  text-align: justify;
  margin: 2% 12%;
  padding: 2%;
  border-radius: 10px;
}
.line {
  height: 3px;
  background-color: black;
}
.img {
  height: 10em;
  width: 10em;
}
