.Contact {
  width: 70%;
  height: 70%;
  background-color: rgba(255, 228, 196, 0.521);
  text-align: left;
  margin: 2% 12%;
  padding: 2%;
  border-radius: 10px;
  font-size: 20px;
}
.left {
  display: inline-block;
  width: 30%;
}
div > form > input {
  display: block;
  width: 100%;
}
textarea {
  width: 100%;
}
.right {
  display: inline-block;
  margin-left: 35%;
  margin-top: -15%; /*PAKAO OVO NE SME OVAKO!*/
  width: 60%;
  height: 100px;
}
table,
td,
tr {
  border-style: none;
}
