.Employees {
  width: 70%;
  height: 70%;
  background-color: rgba(255, 228, 196, 0.521);
  text-align: justify;
  margin: 2% 12%;
  padding: 2%;
  border-radius: 10px;
}
.table {
  border: 1px solid rgb(141, 141, 141);
  border-spacing: 0em;
  width: 100%;
  border-collapse: collapse;
}
.table th {
  background-color: rgb(197, 197, 197);
}
.table tr td,
th {
  padding: 0.8em;
  text-align: center;
  border: 1px solid rgb(141, 141, 141);
}
