.Header {
  background-color: rgba(255, 252, 72, 0.473);
  background-image: none;
  height: 15%;
  display: block;
}
.Left {
  float: left;

  font-size: 45px;
  margin: 40px 0 40px 0;
}
.Right {
  width: 25%;
  float: right;
}
