.Menu {
  background-color: rgba(0, 0, 0, 0.753);
  color: rgb(255, 255, 255);
  height: 5vh;
  display: block;
}
.menuButton {
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  display: inline-flex;
  text-decoration: none;
}
.menuButtonText {
  color: white;
  margin: 10px;
  text-decoration: none;
}
.menuButtonRight {
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  display: inline-flex;
  float: right;
  text-decoration: none;
}
