.Orders {
  width: 70%;
  height: 70%;
  background-color: rgba(255, 228, 196, 0.521);
  text-align: justify;
  margin: 2% 12%;
  padding: 2%;
  border-radius: 10px;
  /* font-size: 20px; */
}
.table {
  border: 1px solid;
  border-spacing: 0em;
  width: 100%;
  border-collapse: collapse;
}
.table th {
  background-color: rgb(197, 197, 197);
  text-align: center;
  border-bottom: 1px solid;
}
.table tr td {
  padding: 0.8em;
  text-align: center;
  border: 1px solid;
}
.image_button {
  width: 25px;
  height: 25px;
}
.image_button :hover {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
select {
  background-color: rgb(153, 109, 52);
  color: antiquewhite;
}
.clear {
  position: absolute;
  background-color: rgba(109, 109, 109, 0.521);
  text-align: center;
  top: 60vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 100vw;
}
