.Orders {
  width: 70%;
  height: 70%;
  background-color: rgba(255, 228, 196, 0.521);
  text-align: justify;
  margin: 2% 12%;
  padding: 2%;
  border-radius: 10px;
  /* font-size: 20px; */
}
table,
td,
th {
  border: 1px solid rgb(126, 126, 126);
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color: #ddd;
}
th,
td {
  padding: 15px;
}
