.Orders {
  width: 70%;
  height: 70%;
  background-color: rgba(255, 228, 196, 0.521);
  text-align: justify;
  margin: 2% 12%;
  padding: 2%;
  border-radius: 10px;
  /* font-size: 20px; */
}
.table {
  border: 1px solid;
  border-spacing: 0em;
  width: 100%;
  border-collapse: collapse;
}
.table th {
  background-color: rgb(197, 197, 197);
  text-align: center;
  border-bottom: 1px solid;
}
.table tr td {
  padding: 0.8em;
  text-align: center;
  border: 1px solid;
}
